nav {
  text-decoration: none;
  background-color: black;
  display: flex;
  justify-content: space-around;
}

.navLinks {
  text-decoration: none;
  color: white;
  font-size: 15pt;
}
.App {
  text-align: center;
}
