.project {
  background-color: lightskyblue;
  display: grid;
  max-width: 900px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 300px;
  grid-template-rows: 150px 150px;
}

.project-description {
  grid-column: 1 / span 3;
  grid-row: 2;
}

.project-hosting {
  grid-row: 1;
  grid-column: 3;
}

.project-image {
  grid-row: 1 / span 2;
  grid-column: 4;
}

.project-name {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.projects-list {
  width: 100%;
}

.digimon {
  text-decoration: underline;
}

#digimon {
  background-image: url("../img/digimoncdapi.png");
  background-repeat: no-repeat;
  background-size: 300px 300px;
}

#simon {
  background-image: url("../img/simon-main.png");
  background-repeat: no-repeat;
  background-size: 300px 300px;
}

#animeme {
  background-image: url("../img/Animeme.png");
  background-repeat: no-repeat;
  background-size: 300px 300px;
}

#pokemon {
  background-image: url("../img/whosthatpkmn.png");
  background-repeat: no-repeat;
  background-size: 300px 300px;
}
